{{ define "main" }}

<!-- Tag Title -->
{{ if and .Title (eq .Type "tags") }}
<h1 class="mb-16">#{{ .Title }}</h1>
{{ end }}

<!-- Homepage Content Wrapper -->
<div class="homepage-content">
  <!-- The content from _index.md will be displayed here -->
  {{ .Content }}
</div>

<!--
  The following section that displays blog posts and the pagination section have been commented out
  to prevent blog posts from appearing on the start page and to remove pagination.
-->

{{/* 
$pages := union .RegularPages .Sections
if .IsHome {
  $pages = where site.RegularPages "Type" "in" site.Params.mainSections
}

$paginator := .Paginate $pages
range $index, $page := $paginator.Pages {

  if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) {
    $avatar_url := $.Scratch.Get "avatar_url"
    if or $avatar_url site.Params.name {
      <div class="-mt-2 mb-16">
        if site.Params.name {
          <h1 class="mb-2 mt-3 text-[1.6rem] font-bold">{{ site.Params.name }}</h1>
        }
      </div>
    }
  }

  <section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
    if gt .Weight 0 {
      <span
        class="mb-2 ml-px inline-block text-[0.8rem] font-medium uppercase tracking-wider text-[#ff3b2d] opacity-70"
      >Featured</span
      >
    }
    <h2 class="!my-0 pb-1 font-bold !leading-none">{{ .Title }}</h2>
    <time class="text-sm antialiased opacity-60"
      >{{ .Date | time.Format ":date_medium" }}</time
    >
    <a class="absolute inset-0 text-[0]" href="{{ .Permalink }}">{{ .Title }}</a>
  </section>

}

if gt $paginator.TotalPages 1 {
  <nav class="mt-16 flex">
    if $paginator.HasPrev {
      <a class="btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
    }
    if $paginator.HasNext {
      <a class="btn ml-auto" href="{{ $paginator.Next.URL }}"
        >{{ i18n "next_page" }} →</a
      >
    }
  </nav>
}
*/}}

{{ end }}
